footer {
    height: 75px;
    width: 100%;
    background-color: #011223;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    height: 60px;
    align-items: center;
    display: flex;
    color: white;
    gap: 10px;
    margin-right: 12px;
}

footer .logo img {
    width: 40px;
    height: auto;
    object-fit: contain;
}

footer .logoText {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.logoTextMain {
    font-size: 20px;
    font-weight: 700;
}

footer .logoTextSub {
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 7px;
}


footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
}

footer .copyright h4 {
    font-size: 16px;
    color: white;
    margin: 12px;
}

footer .copyright p {
    font-size: 12px;
    color: white;
}

@media screen and (max-width: 749px) {
    footer {
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 10px;
    }

    footer .copyright {
        margin-left: 0;
        flex-direction: column;
        gap: 5px;
    }

    footer .copyright h4 {
        font-size: 16px;
        margin: 5px;
    }

    footer .copyright p {
        font-size: 12px;
    }
}