* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 75px;
    background-color: #fff;
}

.thisPage {
    color: #989898;
    text-decoration: underline;
}

.view {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background:
        linear-gradient(rgba(26, 45, 64, 0.8), rgba(26, 45, 64, 0.8)),
        url(../img/STAR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.view .container {
    width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 100px;
    font-size: 48px;
    color: white;
    text-align: center;
}

.movieList {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 36px auto;
}

.moviePoster {
    /* height: 700px; */
    width: 21%;
    background-color: #1B3C5D;
    cursor: pointer;
    margin-bottom: 48px;
}

.moviePoster:hover {
    width: 21%;
    border: #710008 solid 5px;
}

.moviePoster img {
    height: auto;
    width: 100%;
    background-color: #929292;
}

.moviePosterText {
    color: white;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}

.moviePosterTitle h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    word-wrap: break-word;
}

.moviePosterSub {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ratingG {
    background-color: #008400;
    padding: 5px;
    border-radius: 5px;
}

.ratingPG {
    background-color: #0008ff;
    padding: 5px;
    border-radius: 5px;
}

.ratingR12 {
    background-color: #FFC300;
    padding: 5px;
    border-radius: 5px;
}

.ratingR15 {
    background-color: #ff7700;
    padding: 5px;
    border-radius: 5px;
}

.ratingNC {
    background-color: #ff0000;
    padding: 5px;
    border-radius: 5px;
}